In [63]:

ages=[19,22,19,24,20,25,26,24,25,24]

ages.sort()
minimum_age=ages[0]#finding minimum age
maximum_age=ages[len(ages)-1]#finding maximum age
print("sorted ages:",ages)
print("min:",minimum_age)
print("max:",maximum_age)
ages.append(minimum_age)#adding minimum age to ages
ages.append(maximum_age)#adding maximum age to ages
print("modified ages:",ages)
leng=len(ages)
if(leng%2==0):
    median=(ages[(int)(leng/2)]+ages[(int)((leng/2)-1)])/2# finding median of ages
else:
    median=ages[(int)((leng-1)/2)]
print("median:",median)
average=sum(ages)/leng#finding average of ages
print("average:",average)
ages.sort()
range=ages[len(ages)-1]-ages[0]#finding range of ages
print("range:",range)

sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min: 19
max: 26
modified ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median: 24.0
average: 22.75
range: 7

In [65]:
#Create empty dictionary dog
#Add name,color,breed,legs,age to the dog dictionary
dog={
    'name':'tommy',
    'color':'white',
    'legs':4,
    'age':5,
}
print("dog dictionary:",dog)
#Create a student dictionary and add first_name,last_name,gender,age,matial status
#skills,country,city and address as keys for the dictionary
student={}
student['first_name']='Ram charan'
student['last_name']='Konidela'
student['gender']='Male'
student['age']=30
student['marital status']='Married'
student['skills']=['Actor','Dancer']
student['country']='India'
student['city']='hyderabad'
student['address']='Apt 12444'
print(student)
print("\n")

print(" length of the student dictionary:",len(student))#Get the length of the student dictionary
s=student["skills"]
print("student skills:",s)
print("type:",type(student['skills']))

student.update({'skills':['Actor','Dancer','Singer']})#Get the bvalue of skills and check the data type,it should be a lsi
print("modified skills:",student)

print(student.keys())

print(student.values())

dog dictionary: {'name': 'tommy', 'color': 'white', 'legs': 4, 'age': 5}
{'first_name': 'Ram charan', 'last_name': 'Konidela', 'gender': 'Male', 'age': 30, 'marital status': 'Married', 'skills': ['Actor', 'Dancer'], 'country': 'India', 'city': 'hyderabad', 'address': 'Apt 12444'}


 length of the student dictionary: 9
student skills: ['Actor', 'Dancer']
type: <class 'list'>
modified skills: {'first_name': 'Ram charan', 'last_name': 'Konidela', 'gender': 'Male', 'age': 30, 'marital status': 'Married', 'skills': ['Actor', 'Dancer', 'Singer'], 'country': 'India', 'city': 'hyderabad', 'address': 'Apt 12444'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Ram charan', 'Konidela', 'Male', 30, 'Married', ['Actor', 'Dancer', 'Singer'], 'India', 'hyderabad', 'Apt 12444'])

In [47]:
#Create a tuple containing names of your sisters and your brothers
sisters=("Devika","jyothi","dharani")
Brothers=("karthik","jayanth","arun",)
print("sisters tuple is:",sisters)
print("brothers tuple is:",Brothers)
#join brothers and sisters tuples and assign it to siblings
siblings=sisters+Brothers
print("siblings tuple is:",siblings)
#how many siblings do u have?
print("How many siblings do you have?:",len(siblings))

family_members=siblings+("santhu","sony")
print("family_members tuple:",family_members)

sisters tuple is: ('Devika', 'jyothi', 'dharani')
brothers tuple is: ('karthik', 'jayanth', 'arun')
siblings tuple is: ('Devika', 'jyothi', 'dharani', 'karthik', 'jayanth', 'arun')
How many siblings do you have?: 6
family_members tuple: ('Devika', 'jyothi', 'dharani', 'karthik', 'jayanth', 'arun', 'santhu', 'sony')

In [66]:
it_companies={'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]
print(" length of the set it_companies:",len(it_companies))# find the length of the set of it_comapnies
#add twitter to it_companies
it_companies.add('Twitter')
print(it_companies)

it_companies.update(['TCS','Cognizant','Capgemini'])# insert multiple it companies 
print(it_companies)
#Insert muiltiple IT companies at once to the set of it_companies
it_companies.remove('Cognizant')
print(it_companies)

#what is the difference between remove and discard
print("if the item to remove does not exist in the given set, remove will raise an error where as discard will not raise an error")

print("A union B is:",A.union(B))#join A and B

print("A intersection B is:",A.intersection(B))

print("Is A subset of B:",A.issubset(B))

print("Are A and B disjoint sets:",A.isdisjoint(B))#Are A and B disjoint sets

print("join A with B:",A.union(B))
print("join B with A:",B.union(A))

print("symmetric difference:",A.symmetric_difference(B))

it_companies.clear()
A.clear()
B.clear()
print(it_companies)
print(A)
print(B)

Ages=set(age)#convert the ages to a set and compare the length of the list and the set
print("length of ages list:",len(age))
print("length of ages set:",len(Ages))

 length of the set it_companies: 7
{'Twitter', 'Facebook', 'Google', 'Amazon', 'IBM', 'Microsoft', 'Oracle', 'Apple'}
{'TCS', 'Cognizant', 'Google', 'Twitter', 'Facebook', 'Oracle', 'Apple', 'Amazon', 'Microsoft', 'Capgemini', 'IBM'}
{'TCS', 'Google', 'Twitter', 'Facebook', 'Oracle', 'Apple', 'Amazon', 'Microsoft', 'Capgemini', 'IBM'}
if the item to remove does not exist in the given set, remove will raise an error where as discard will not raise an error
A union B is: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B is: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference: {27, 28}
set()
set()
set()
length of ages list: 8
length of ages set: 5

In [55]:
#Calculate the area of a cicrcle and assign the value to a variable name of area_of_circle
rad=30
pi=3.14
area_of_circle=pi*rad*rad
print("area of circle:",area_of_circle)
#Calculate the circumfrence of a  cicrcle and assign the value to a variable name of circle
circum_of_circle=2*pi*rad
print("circum of circle:",circum_of_circle)

radius2=(float)(input("enter the radius:"))
area=pi*radius2*radius2
print("area of circle from user input:",area)

area of circle: 2826.0
circum of circle: 188.4
enter the radius:5
area of circle from user input: 78.5

In [56]:
str="I am a teacher and I love to inspire and teach people"
Str1=(set)(str.split())
print(Str1)
print("no of unique words in the given sentence:",len(Str1))

{'inspire', 'teach', 'to', 'people', 'teacher', 'am', 'a', 'love', 'I', 'and'}
no of unique words in the given sentence: 10

In [22]:
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [23]:
#The string formatting method to display the following
radius=10
area=3.14*radius**2
print("The area of circle with radius %d is %d meter square."%(radius,area))

The area of circle with radius 10 is 314 meter square.

In [61]:
N=int(input("Enter no of students:"))#taking input from user
print("Enter weightsin lbs")
weights=list(map(int,input().split()))
nweights=[]
for i in weights:
    nweights.append(i*0.45)#converting into kgs
print("Weights in kgs:",nweights)

Enter no of students:4
Enter weightsin lbs
150 155 145 148
Weights in kgs: [67.5, 69.75, 65.25, 66.60000000000001]